* {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 50%;
}

nav {
  border-bottom: 1px solid lightgray;
  padding-right: 16px;
}

ul {
  list-style: none;
}

li > a {
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

.top-list {
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: right;
}

.top-list-link {
  border-right: 2px solid lightgray;
  line-height: 5px;
  padding: 4px;
  font-size: 12px;
  display: inline-block;
}

.top-list > li:last-child {
  border-right: none;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 1px solid lightgray;
}

.subito-logo{
    width: 230px;
    margin-left: 24px;
}

.header-actions > a {
    text-decoration: none;
    padding: 8px;
    color: gray;
}

.header-actions > a:first-child{
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.insert-product {
    display: inline-block;
    list-style: none;
    background-color: #feeceb;
    border-radius: 4px;;
    color: red;
    line-height:36px;
    margin-right: 24px;
}

.plus-img {
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 24px;
    margin-left: 16px;
}

.insert-product > a {
    text-decoration: none;
    color: red;
    background-color: #feeceb;
    margin-right: 12px;
}
